In [2]:
from datetime import date, time, datetime

In [3]:
dt = datetime(2012,10,29,20,30,22)

In [4]:
dt.day

29

In [5]:
dt.month

10

In [6]:
dt.date()

datetime.date(2012, 10, 29)

In [7]:
dt.time()

datetime.time(20, 30, 22)

#### The strftime formats converts a datetime as a string

In [8]:
dt.strftime("%m - %d - %Y")

'10 - 29 - 2012'

In [9]:
dt2 = datetime(2021, 11, 15, 22, 30)

#### The difference of datetime objects produces a datetime.delta type

In [10]:
delta = dt2 - dt
delta

datetime.timedelta(days=3304, seconds=7178)

In [11]:
delta

datetime.timedelta(days=3304, seconds=7178)

In [12]:
delta?

In [13]:
name = "solomon"

In [14]:
name?